.newTaskForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: ;
}
.newTaskForm input{
    border-radius: 5%;
    margin-right: 0.5rem;
    background-color: var(--gray-500);

}
.newTaskForm button{
    padding: 1rem;
    background-color: var(--blue-dark);
    font-weight: 600;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
}