.newTaskForm {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  max-width: 736px;
  margin: auto;
  width: 80%;
  margin-top: -1.5rem;
}
.newTaskForm input {
  border-radius: 8px;
  margin-right: 0.5rem;
  width: 100%;
  background-color: var(--gray-500);
  color: var(--gray-300);
  padding: 1rem;
}
.newTaskForm button {
  padding: 1rem;
  background-color: var(--blue-dark);
  font-weight: 600;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  border-radius: 8px;
}