.task{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    background: var(--gray-500);
    color: var(--gray-100);
    margin: 0.75rem 0 0.75rem;
    border: solid 1px var(--gray-100);
    border-radius: 8px;
    gap: 5px 5px;
}
.complete{
    color: var(--gray-300);
    text-decoration-line: line-through;
    border: solid 1px var(--gray-300);
}


.checkmark{
    margin: 0 0.5rem 0 0rem
}

.deleteButton{
    background: none;
    border: none;
    border-radius: 0;
}
span{
    border: solid 1px var(--gray-300);
    border-radius: 8px;
    margin: 2px;
    display: inline-block;
    padding: 1rem;
    font-weight: 500;
}

.isFinished{
    padding: 1rem;
    background-color: var(--purple-500);
    color: var(--white);
    font-weight: 600;
    transition: 0.2s all;
}

.completeButton{
    background-color: var(--purple-300);
    color: var(--gray-200);
}